:root {
    --column-color: #DFE3E6;
    --footer-gray: #6B808C;
    --button-green: #39C071;
    --button-dark-green: #2f9e5c;
    --placeholder-gray: #B8B9BB;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

.flex {
    display: flex !important;
}

body, html {
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
}

.board {
    height: 95vh;
    width: 97%;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-height: none; /* Firefox */
    -ms-overflow-style: none;
    margin: 12px;
}

.board::-webkit-scrollbar {
    height: 0.5em;
}
.board::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.board::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
}

.columns {
    display: flex;
    flex-shrink: 0;
}

.column-header {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 95%;
    width: 272px;
    background-color: var(--column-color);
    border-radius: 3px;
    padding: 12px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    margin-right: 12px;
    align-self: flex-start;
}

.column::-webkit-scrollbar{
    width: 0;
}

.cards {
    min-height: 5px;
    display: none;
}

.add-card {
    box-sizing: border-box;
    height: 19px;
    font-weight: normal;
    font-size: 13px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
}

.add-card > p {
    height: 15px;
    color: var(--footer-gray);
    margin-left: 8px;
}

.plus-icon {
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    margin-left: 6px;
}

.plus-icon:before, .plus-icon:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}
.plus-icon:before {
    transform: rotate(90deg);
}
.plus-icon:after {
    transform: rotate(-180deg);
}

.delete-icon {
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}
.delete-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.delete-icon:before, .delete-icon:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}
.delete-icon:before {
    transform: rotate(45deg);
}
.delete-icon:after {
    transform: rotate(-45deg);
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: none;
    width: 248px;
    min-height: 35px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    padding: 8px 12px;
    margin-bottom: 8px;
}

.card-text:focus {
    outline: none;
}

.card:focus {
    outline: none;
}

.header-text {
    width: 239px;
    min-height: 19px;
    margin-bottom: 12px;
}

.card-text {
    width: 92%;
}

.remove-card,
.remove-column {
    margin-right: -8px;
}

.header-text:focus,
.card:focus,
.card-text:focus {
    outline: none;
}

.one-more-column {
    height: 43px;
    padding: 8px 12px;
    display: flex;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 13px;
    flex-direction: row; /* JS sets display to flex */
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
}

.one-more-column > p {
    margin: 0 0 0 8px;
    height: 15px;
    color: var(--footer-gray);
    display: flex;
    flex-flow: column;
    align-content: center;
}

.add-column {
    background-color: var(--button-green);
    border: none;
    width: 147px;
    height: 30px;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.add-column:focus {
    outline: none;
}

.add-column:active {
    outline: none;
    background-color: var(--button-dark-green);
    transform: translateY(2px);
}

.add-column:hover {
    background-color: var(--button-dark-green);
}

/* For placeholders within contenteditable divs */
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: var(--placeholder-gray);
    font-weight: normal;
}