:root
  --footer-gray: #6B808C
  --button-blue: #2BB3FF
  --button-mint: #51D7D4
  --placeholder-gray: #B8B9BB
  --add-remove-icons: #205661
  --column-shadow: rgba(51, 165, 181, 0.58)
  font-size: 13px
  font-family: 'Montserrat', sans-serif

body,
html
  overflow-y hidden
